# Rust
target/

# Korangar
korangar/archive/data/font/*
korangar/client/
korangar/cache/
korangar/*.grf
korangar/lua_files/
korangar/[Bb][Gg][Mm]/
korangar/*.7z

# Nix & direnv
.direnv/

# macos
.DS_Store

# Idea
.idea/
